/***************************************************************/
/* ------------------------ VARIABLES ------------------------ */
/***************************************************************/
:root {
  --black:         #000000;
  --black-light:   #111113;
  --asphalt:       #313335;
  --asphalt-dark:  #262729;
  --asphalt-light: #4b4f52;
  --grey:          #a6aaad;
  --grey-dark:     #757575;
  --grey-light:    #cdcfd1;
  --smoke:         #f5f5f5;
  --smoke-dark:    #ebebeb;
  --smoke-light:   #f7f7f7;
  --white:         #ffffff;
  --backlot:       #f4c40e;
  --backlot-dark:  #e6b10d;
  --backlot-light: #fece35;
  
  --topbar:        4px;
  --bottombar:     80px;
  --hud:           24vh;
  --hud-smaller:   12vh;
  --hud-larger:    48vh;
  --distance:      16px;
  --border:        4px;
  --icon:          32px;
}

/***************************************************************/
/* ------------------------- GLOBAL -------------------------- */
/***************************************************************/
@font-face {
    font-family: 'PressStart2P';
    src: url('fonts/PressStart2P.ttf');
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body,
html {
  background-color: var(--black-light);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

#wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  width: 100%;
}

/***************************************************************/
/* ------------------------- LAYOUT -------------------------- */
/***************************************************************/
/* Topbar */
#header {
  align-items: center;
  background-color: var(--backlot);
  display: flex;
  height: var(--topbar);
  justify-content: space-between;
  position: relative;
  width: 100%;
  z-index: 1;
}
/* Content */
#content {
  height: calc(100vh - var(--bottombar) - var(--topbar));
  width: 100%;
  z-index: 0;
}
#content #racer,
#content #canvas {
  height: 100%;
  position: relative;
  width: fit-content;
}
#content #racer {
  z-index: 0;
}
#content #canvas {
  background-color: var(--black);
  object-fit: contain;
  z-index: 0;
}
/* Bottombar */
#bottombar {
  align-items: center;
  background-color: var(--asphalt-dark);
  display: flex;
  height: var(--bottombar);
  justify-content: flex-start;
  padding: var(--distance);
  width: 100%;
  z-index: 0;
}

/***************************************************************/
/* -------------------------- GAME --------------------------- */
/***************************************************************/
/* Hud */
#hud {
  background-color: transparent;
  color: var(--black);
  font-family: 'PressStart2P', cursive;
  height: 100%;
  padding: var(--distance);
  position: absolute;
  width: 100%;
  z-index: 1;
}
/* Speedometer */
#hud #speed {
  align-items: center;
  border-radius: 100% 0 0 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: var(--hud);
  justify-content: center;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: var(--hud);
}
#hud #speed::before {
  background: radial-gradient(circle, var(--black) 0%, transparent 80%);
  border-radius: 100%;
  content: '';
  height: 200%;
  left: 0;
  position: absolute;
  top: 0;
  width: 200%;
  z-index: 0;
}
#hud #speed::after {
  border-left: var(--border) dashed var(--white);
  border-radius: 100%;
  border-top: var(--border) dashed var(--backlot);
  content: '';
  height: calc(200% - var(--distance) * 2);
  left: var(--distance);
  position: absolute;
  top: var(--distance);
  width: calc(200% - var(--distance) * 2);
  z-index: 1;
}
#hud #speed .value {
  color: var(--white);
  font-size: 4vh;
  height: 100%;
  padding: 16vh var(--distance) var(--distance) 8vh;
  position: relative;
  text-align: right;
  width: 100%;
  z-index: 2;
}
#hud #speed .value::after {
  color: var(--grey);
  bottom: var(--distance);
  content: ' mph';
  font-size: 1vh;
  position: absolute;
  right: var(--distance);
}
/* Lap Time */
#hud #current_lap_time {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: var(--hud-smaller);
  justify-content: center;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#hud #current_lap_time .value {
  color: var(--white);
  font-size: 4vh;
  text-shadow: 0 0 var(--distance) var(--black);
}
/* Laps */
#hud #lap_time {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: var(--hud-smaller);
  justify-content: center;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
  width: var(--hud-larger);
}
#hud #lap_time::before {
  background: linear-gradient(90deg, var(--black) 0%, transparent 80%);
  content: '';
  height: 100%;
  left: -50%;
  position: absolute;
  top: 0;
  width: 150%;
  z-index: 0;
}
#hud #last_lap_time,
#hud #fast_lap_time {
  color: var(--grey);
  font-size: 1vh;
  height: 2vh;
  line-height: 2vh;
  padding: 0 var(--distance);
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 2;
}
#hud #last_lap_time .value,
#hud #fast_lap_time .value {
  color: var(--white);
}

/***************************************************************/
/* ------------------------ CONTROLS ------------------------- */
/***************************************************************/
/* Mute button */
#mute {
  appearance: none;
  background-position: 0 0;
  background: url('images/mute.png');
  border: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: var(--icon);
  position: absolute;
  right: var(--distance);
  top: var(--distance);
  transition: transform 200ms ease;
  width: var(--icon);
}
#mute.on {
  background-position: -32px 0;
}
#mute:focus,
#mute:hover,
#mute:active {
  outline: none;
}
#mute:hover {
  transform: scale(1.1);
}
/* Instructions */
#instructions {
  color: var(--smoke-dark);
  width: 100%;
}
/* FPS */
#fps-box {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
#fps-box > * {
  min-width: var(--bottombar);
  padding: var(--distance);
  text-align: right;
}
#fps-box #stats {
  flex-grow: 1;
}
#fps-box #fps,
#fps-box #ms {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 auto;
  width: var(--bottombar);
}
#fps-box #ms {
  display: none;
}
#fps-box #fpsText,
#fps-box #msText {
  color: var(--grey);
  font-size: 10px;
  margin: 4px;
  text-align: center;
  width: 100%;
}
#fps-box #fpsGraph,
#fps-box #msGraph {
  background-color: var(--grey-dark);
  height: var(--icon);
  margin: 0;
  position: relative;
  width: 100%;
}
#fps-box #fpsGraph > span,
#fps-box #msGraph > span {
  background-color: var(--black-light);
  float: left;
  height: var(--icon);
  width: 1px;
}

#lanes, #controls { display: none; }
